# Dependency directories
node_modules/
.npm

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db 